<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.password_logger">    
    <application
        android:usesCleartextTraffic="true">
        <!-- Add your activities here -->
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
